body {
    margin: 0px;
}

main {
    width: 100vw;
    margin: auto;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#homeimg {
    display: block;
    width: 100%;
    border-bottom: 10px double black;
}

.home {
    height: 100vh;
}

li:hover {
    background-color: rgba(0,0,0, 0.1);
}

nav img {
    width: 100%;
    border-bottom: 10px double black;
}

#hbmclose, #hbmopen {
    width: 70px;
    padding: 15px 0px;
    border-bottom: none;
}

#hbmopen {
    display: none;
}

ul {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: inherit;
    margin: 0px;
    padding: 0px;
}

#mainul {
    height: 300px;
}

.homeul {
    display: flex;
}

.homehbm {
    display: none;
}

li {
    display: flex;
    list-style: none;
    border-bottom: 2px solid black;
    width: 70%;
    height: 33.3%;
    align-items: center;
    justify-content: center;
}

li:last-child {
    border-bottom: none;
}

li > a {
    font-size: 48px;
    color: black;
    text-decoration: none;
}

#imgflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imgcontent img {
    width: 100%;
    border-bottom: 10px double black;
    border-top: 10px double black;
}

#mainimgflex img {
    border-bottom: 10px double black;
    border-top: 10px double black;
}

h1, h2 {
    font-family: 'Gentium Book Basic', serif;
    font-size: 48px;
    text-align: center;
}

h1 {
    font-size: 70px;
}

.textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    margin: 10px 0px;
}

.textboxmain {
    height: 100px;
}

main .textbox .decoration, main #mainimgflex .decoration {
    width: 35%;
    border-top: 0px;
    border-bottom: 0px;
}




@media(min-width: 540px) {

    header #mainul {
        flex-direction: row;
        justify-content: space-evenly;
        height: 100px;
        width: 100%;
    }

    header #mainul li {
        height: 70%;
        border-bottom: none;
        border-right: 2px solid black;
    }

    header #mainul li:last-child {
        border-right: none;
    }

    li > a {
        font-size: 5vw;
    }

    .imgflex {
        width: 47%;
        flex-shrink: 2;
    }

    .imgcontent img {
        border-top: 0px;
        border-bottom: 0px;
    }

    header nav .hbm {
        position: absolute;
        transform: translateY(-1000%);
        display: none;
        overflow: hidden;
    }

    nav > #mainul {
        display: flex;
    }

}

@media(min-width: 800px) {

    main {
        width: 70vw;
        border-right: 10px double black;
        border-left: 10px double black;
    }


    header li > a {
        font-size: 3vw;
    }

    nav > a {
        width: 33%;
    }

    header img {
        border-bottom: 0px;
    }

    header #homeimg {
        width: 100%;
        border: 10px double black;
    }

    header nav {
        flex-direction: row;
        border-bottom: 10px double black;
        width: 100vw;
        height: auto;
        margin: 0px;
    }

    header nav.home {
        border-bottom: 0px;
    }

    header .home {
        justify-content: center;
        flex-direction: column;
        width: 70vw;
        margin: auto;
    }

    header nav #mainul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100px;
        width: 66%;
    }

    header nav .homeul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 100px;
        width: 100%;
    }

    header ul li {
        height: 100%;
        border-bottom: none;
        border-right: 2px solid black;
    }

    header ul li:last-child {
        border-right: none;
    }

    #mainimgflex img {
        border-bottom: 0px;
        border-top: 0px;
    }


}

@media(max-height: 500px) {

    header .homeul {
        flex-direction: row;
        position: absolute;
        bottom: 0%;
        height: 20vh;
        background-color: rgba(255,255,255,.4);
        box-shadow: rgba(255,255,255,.4) 0px 5px 5px;
    }

    header .homeul {
        flex-direction: row;
        position: absolute;
        bottom: 0%;
        height: 20vh;
        background-color: rgba(255,255,255,.4);
        box-shadow: rgba(255,255,255,.4) 0px 5px 5px;
    }

    header li {
        border-bottom: none;
    }

}