@import "layout.css";

nav {
    display: none;
    float: left;
    position: absolute;
    background-color: black;
    padding: 10px;
    text-align: center;
}

section {
    text-align: center;
    position: relative;
    float: left;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    color: white;
    line-height: 15px;
    margin: 15px 0px;
}

.header {
    margin-left: 10px;
    display: inline-block;
}

p {
    padding: 20px;
    margin-top: 20px;
}