@import url('layout.css');

nav {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
    text-align: center;
    width: 100%;
}

#logo {
    display: block;
    width: 100px;
    align-self: center;
}

h2 {
    margin: 5px 0px;
}

a {
    text-emphasis: none;
    text-decoration: none;
    color: black;
}
.align {
    width: 100%;
}

img {
    width: 100%;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column;
}

.content {
    padding: 5px;
}

