body {
    margin: 0px;
    background-color: black;
}

main {
    display: none;
    height: 100vh;
}

#mainscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#playerselect {
    justify-content: space-evenly;
    flex-flow: wrap;
}

.player {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playername {
    width: 100%;
    height: 100%;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 10vw;
    text-align: center;
    border: black 3px solid;
}

.imgload {
    display: none;
}

#img1 {
    background-image: url('bg4.jpg');
}
#img2 {
    background-image: url('bg5.jpg');
}
#img3 {
    background-image: url('bg6.jpg');
}
#img4 {
    background-image: url('bg7.jpg');
}
#img5 {
    background-image: url('bg8.jpg');
}
#img6 {
    background-image: url('bg9.jpg');
}
#img7 {
    background-image: url('bg1.jpg');
}
#img8 {
    background-image: url('bg2.jpg');
}
#img9 {
    background-image: url('bg3.jpg');
}

h1 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    margin: 0px;
}

h2 {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    letter-spacing: 0px;
    margin: 0px;
}

#title {
    font-size: 10vw;
    color: white;
}

#startbuttontext {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 10vw;
}

#mainplayername {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 10vw;
    width: 100%;
    text-align: center;
    overflow: hidden;
    color: white;
    line-height: 50px;
    text-align: center;
}

.viewplayername {
    font-family: 'Crimson Text', serif;
    font-size: 7vw;
    max-width: 60%;
    overflow: hidden;
    line-height: 60px;
    text-align: center;
    height: 100%;
}

.playerlife {
    font-size: 10vw;
}

.rangenumber {
    font-size: 10vw;
}

.effectpercent {
    font-size: 10vw;
}

.statusnumber {
    font-size: 10vw;
}

.playerstatusnumber {
    font-size: 6vw;
    line-height: 20px;
}

#startbutton {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: double black 10px;
    background-image: url('bg2.jpg');
}

#gameview {
    flex-direction: column;
    position: relative;
}

#elementview {
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: column;
}

#elements {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    overflow: hidden;
}

.element {
    width: 60%;
    margin: auto;
    z-index: 6;
}

.elementbox {
    width: 32.33%;
    height: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('bg1.jpg');
    position: relative;
}

.border {
    position: absolute;
    width: 50%;
    height: auto;
}

.topright {
    right: 0px;
    top: 0px;
}

.topleft {
    left: 0px;
    top: 0px;
    transform: scaleX(-1);
}

.bottomright {
    right: 0px;
    bottom: 0px;
    transform: scaleY(-1);
}

.bottomleft {
    left: 0px;
    bottom: 0px;
    transform: scale(-1, -1)
}

#combobox {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('bg1.jpg');
}

#combo {
    height: 80%;
}

#mainplayer {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-image: url('bg3.jpg');
}

#mainplayerlife {
    font-size: 10vw;
    line-height: 40px;
    color: white;
}

#mainbuttons {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mainbutton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 80%;
    height: auto;
}

#playerviewbutton {
    width: 70px;
    height: 70px;
}

#statusbutton {
    width: 70px;
    height: 70px;
}

#combobutton {
    display: none;
    width: 70px;
    height: 70px;
}

#playerview {
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: 8;
    display: none;
    justify-content: space-evenly;
    flex-flow: wrap;
    background-image: url('bg2.jpg');
}

#statusview {
    position: absolute;
    width: 100%;
    height: 70%;
    z-index: 9;
    display: none;
    justify-content: space-evenly;
    flex-flow: wrap;
}

#comboview {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 50%;
    z-index: 10;
    background-color: rgb(240, 240, 240);
}

#range {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 33.33333%;
    background-image: url('bg2.jpg');
}

#effects {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    height: 66.66666%;
}

#effectbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33%;
    background-image: url('bg2.jpg');
}

.status {
    width: 50%;
    height: 33.33333%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: auto;
    background-image: url('bg2.jpg');
    background-position: center;
}

.statusicon {
    width: auto;
    height: 30%;
}

.viewplayer {
    width: 50%;
    height: 33.3333%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-image: url('bg2.jpg');
}

.nameandlife {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-image: url('bg2.jpg');
    border: 2px black solid;
    overflow: hidden;
}

.viewplayerstatus {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.viewplayerstatusbox {
    width: 33.33%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url('bg2.jpg');
    background-position: center;
}

.rollbox {
    width: 100%;
    height: 16.666%;
    display: none;
    justify-content: center;
    align-items: center;
    height: auto;
    position: relative;
    background-color: rgb(216, 216, 216);
}

.rollbox > img {
    width: 20%;
    height: auto;
    opacity: 50%;
}

#rollview {
    flex-direction: column;
    flex-flow: wrap;
}

.rollnumber {
    color: black;
    font-size: 20vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#postroll {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('bg1.jpg');
}

#total {
    font-size: 30vw;
}

#totalstatus {
    width: 30%;
    height: auto;
}

.rollfade {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    background-color: white;
}

#primarybox {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: space-evenly;
}

.primaryicon {
    height: 45%;
    width: auto;
}

.primary {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eliminationview {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('bg1.jpg');
    z-index: 11;
}

#elimbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('bg2.jpg');
    border-top: 3px black solid;
    border-bottom: 3px black solid;
}

#eliminations {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-image: url('bg2.jpg');
    border-top: 3px black solid;
}

.elimination {
    font-family: 'Crimson Text', serif;
    font-size: 12vw;
}

#ELIMINATED {
    font-size: 12vw;
    font-weight: 900;
}

#winnerview {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('bg1.jpg');
}

#winnerbox {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#winner {
    font-size: 15vw;

}

#WINS {
    font-size: 20vw;
}

#RESET {
    font-size: 10vw;
}

#resetbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
}

#mainplayertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
}

#totalprimary {
    width: 30%;
    height: auto;
}

#combobox, .elementbox, #startbutton, .viewplayer, #playerview, .nameandlife, #mainplayer, .primary, .rollbox, #range, #effectbox, #postroll, #winnerview, #elimbox, #eliminations, #eliminationview {
    background-position: center;
    background-size: cover;
}



@media(max-height: 500px) {
    
    #mainplayerlife {
        width: 65%;
    }

    .nameandlife {
        height: 50%;
    }

    #totalprimary {
        width: auto;
        height: 30%;
    }

    #mainplayername {
        height: 100%;
        font-size: 7vw;
        line-height: 110px;
    }

    .player {
        width: 50%;
    }

    #playerselect {
        justify-content: flex-start;
    }

    .playername {
        font-size: 6vw;
    }

    #winner {
        font-size: 7vw;
    
    }
    
    #WINS {
        font-size: 10vw;
    }
    
    #RESET {
        font-size: 5vw;
    }

    #resetbutton {
        width: 30%;
    }

    #eliminationview {
        
        flex-direction: row;
    
    }

    #elimbox {
        width: 50%;
        height: 100%;
    }
    
    #eliminations {
        width: 50%;
        height: 100%;
    }

    .elimination {
        font-size: 7vw;
    }
    
    #ELIMINATED {
        font-size: 7vw;
    }

    .rollbox {
        height: 100%;
    }

    #rollview {
        flex-flow: nowrap;
    }

    .rollbox > img {
        height: 25%;
        width: auto;
    }

    .rollnumber {
        font-size: 10vw;
    }

    #mainplayer {
        flex-direction: row;
        justify-content: space-between;
    }

    #mainplayertext {
        flex-direction: row;
        height: 100%;
        width: 66.666%;
        justify-content: space-evenly;
    }

    .viewplayer {
        width: 33.33%;
        height: 50%;
    }

    #elementview {
        flex-direction: row;
    }

    #elements {
        width: 66.66%;
        height: 100%;
    }

    #combobox {
        width: 33.33%;
        height: 100%;
        border: none;
    }

    #combo {
        height: auto;
        width: 80%;
    }

    #mainbuttons {
        width: 33.333%;
        height: 100%;
        justify-content: flex-end;
    }

    #mainbuttons > .mainbutton {
        height: 100%;
        width: 100%;
    }

    #comboview {
        width: 66.66%;
        height: 70%;
    }

    .status {
        width: 33.33333%;
        height: 50%;
        flex-direction: row;
        background-image: url('bg2.jpg');
        background-position: center;
    }

    .viewplayerstatus {
        height: 50%;
    }

    .viewplayerstatusbox {
        width: 16.66%;
        height: 100%;
    }

    .viewplayername {
        font-size: 5vw;
    }
    .playerstatusnumber {
        font-size: 4vw;
    }
    #total {
        font-size: 20vw;

}

@media(min-width: 1000px) {

    #totalprimary {
        width: 200px;
        height: 200px;
    }

    #total {
        font-size: 170px;
    }

    #winner {
        font-size: 72px;
    
    }
    
    #WINS {
        font-size: 100px;
    }
    
    #RESET {
        font-size: 40px;
    }

    #resetbutton {
        width: 30%;
    }

    #mainplayerlife {
        font-size: 72px;
    }

    .rollbox {
        height: 100%;
        width: 100%;
    }

    #rollview {
        flex-flow: nowrap;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .rollbox > img {
        width: 80%;
        max-width: 200px;
        height: auto;
    }

    .rollnumber {
        font-size: 100px;
    }

    .viewplayerstatusbox {
        width: 16.66%;
        height: 100%;
    }

    .viewplayerstatus {
        height: 60%;
    }

    .playerlife {
        font-size: 72px;
    }
    
    .rangenumber {
        font-size: 72px;
    }
    
    .effectpercent {
        font-size: 72px;
    }
    
    .statusnumber {
        font-size: 72px;
    }
    
    .playerstatusnumber {
        font-size: 50px;
        line-height: 40px;
    }

    .viewplayername {
        font-size: 40px;
        line-height: 50px;
    }

    #startbuttontext {
        font-size: 72px;
    }
    
    #mainplayername {
        font-size: 72px;
        line-height: 90px;
    }

    .playername {
        font-size: 72px;
    }

    main {
        width: 1000px;
        margin: auto;
    }

    #title {
        font-size: 100px;
    }

    #combobox {
        width: 33.33%;
        height: 33.33%;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }

    #mainplayer {
        width: 66.66%;
        height: 33.33%;
    }

    #elements {
        height: 100%;
    }

    #elementview {
        height: 66.66%;
    }

    #playerview, #statusview, #comboview {
        height: 66.66%;
    }

}


