body {
    margin: 0px;
    background-image: url('bg.jpg');
    background-position: top;
    background-repeat: repeat;
    position: relative;
}

/*
font-family: 'Forum', cursive;
font-family: 'Lato', sans-serif;
*/

h1, h5 {
    font-family: 'Forum', cursive;
}

h5 {
    font-size: 32px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}



.cp {
    font-size: 20px;
}

div > .carousel-caption {
    background-color: rgba(0, 0, 0, 0.521);
    width: 100%;
    left: 0px;
    bottom: 0px;
}

.carousel-indicators {
    bottom: -7px;
}

.mainheader {
    margin: 20px 0px;
}

.underline {
    border-bottom: 2px black solid;
}

.mainp {
    padding-bottom: 30px;
}

.products {
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}

.pagenum {
    font-family: 'Lato', sans-serif;
    font-size: 32px;
    margin: -10px 15px;
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}

.on {
    background-color: rgb(114, 73, 124);
    color: white;
    padding: 0px 5px;
    border-radius: 5px 5px;
}

.pagenumbers {
    margin: 20px 0px;
    text-align: center;
}

nav {
    background-color: rgb(233, 233, 233);
    border-bottom: 3px rgb(114, 73, 124) solid;
}

.nav-link {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.navbar-brand {
    font-family: 'Forum', cursive;
    font-size: 40px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('rockicon.png');
    width: 40px;
    height: 40px;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.mainp {
    columns: 2;
}

}

.footer {
    width: 100%;
    background-color: rgb(233, 233, 233);
    border-top: 3px rgb(114, 73, 124) solid;
    margin-top: 20px;
}

.fottertext {
    text-align: center;
    font-size: 20px;
}

.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social > img {
    width: 50px;
}

div > .bottom {
    padding: 10px;
}

.center {
    text-align: center;
}

.map {
    width: 100%;
    height: 500px;
}

.findus {
    display: flex;
    justify-content: center;
    align-items: center;
}

div > .formbox {
    padding-bottom: 20px;
    border-bottom: 2px black solid;
}

.btn-primary {
    background-color: rgb(114, 73, 124);
}

.cartwindow {  

    display: none;
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 20;

}

.cartbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgb(233, 233, 233);
    border: 3px rgb(114, 73, 124) solid;
    padding: 20px 20px 0px 20px;
    z-index: 10;
}

.cartitem {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px black solid;
    margin: 10px 0px;
}

.totalbox {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.itemwindow {
    display: none;
    width: 100vw;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.507);
}

.itembox {
    background-color: rgb(233, 233, 233);
    border: 3px rgb(114, 73, 124) solid;
    margin-top: 20px;
}

.mainimg {
    height: 500px;
    background-position: center;
    background-size: cover;
    
}

.itemp {
    margin-bottom: 3rem;
}

div > .mainimg {
    margin: 0px;
}

.sideimg {
    width: 100%;
    height: 120px;
    background-position: center;
    background-size: cover;
}

.sidebox {
    padding: 0px;
}

.col-lg-12 {
    margin: 10px 0px;
}

#cartimg {
    width: 30px;
    
}

.nav-item:last-child{
    position: relative;
}

#cartcount {
    position: absolute;
    bottom: 15px;
    left: 25px;
    font-size: 15px;
    color: white;
    border-radius: 50%;
    width: 20px;
    line-height: 20px;
    text-align: center;
    background-color: rgb(114, 73, 124);
    display: none;
}

.checkoutform {
    display: none;
}

.goto {
    background-color: rgb(114, 73, 124);
    padding: 7px;
    color: white;
    border-radius: 10px 10px;
}

.productimg {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.carousel {
    max-width: 900px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}

.productinfo {
    margin: 20px 0px;
}

.productname {
    margin-right: 20px;
}

.productprice {
    float: right;
}

.cartadd {
    text-align: center;
    cursor: pointer;
    background-color: rgb(114, 73, 124);
    color: white;
    border-radius: 10px;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(114, 73, 124);
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0);
}

.productprice, .productname {
    display: inline-block;
}

.productprice, .productname, .cartadd {
    line-height: 50px;
}

.embed-responsive {
    width: 100%;
    max-width: 700px;
}

.date {
    padding: 20px 0px;
    border-top: 2px black solid;
}

.embed-responsive {
    margin-bottom: 20px;
}

.col-12 {
    margin: 15px 0px;
    padding: 0px 20px;
}

.rocktitle {
    margin-top: 20px;
}

.buttonbox {
    padding-left: 9px;
}

#a {
    background-image: url('rock1.jpg');
}

#b {
    background-image: url('rock6.jpg');
}

#c {
    background-image: url('rock5.jpg');
}

#d {
    background-image: url('rock4.jpg');
}

#e {
    background-image: url('rock2.jpg');
}

#f {
    background-image: url('rock3.jpg');
}

#g {
    background-image: url('rock7.jpg');
}

#h {
    background-image: url('rock8.jpg');
}

#i {
    background-image: url('rock9.jpg');
}

#j {
    background-image: url('rock10.jpg');
}

#k {
    background-image: url('rock11.jpg');
}

#l {
    background-image: url('rock12.jpg');
}

#m {
    background-image: url('rock13.jpg');
}

#n {
    background-image: url('rock14.jpg');
}

#o {
    background-image: url('rock15.jpg');
}

#p {
    background-image: url('rock16.jpg');
}

#q {
    background-image: url('rock17.jpg');
}

#r {
    background-image: url('rock18.jpg');
}