body {
   margin: 0px; 
}

.CLEAR {
    clear: both;
}

img {
    max-width: 100%;
}

@media(min-width: 650px) {
    main #bank {
        text-align: center;
        height: 8.5vw;
        font-size: 10vw;
        margin: 0px 2vw;
        position: unset;
        left: unset;
        top: unset;
        transform: unset;
        bottom: unset;
        border-bottom: none;
        align-self: center;
    }
    
    main #rewardtotal {
        text-align: center;
        height: 8.5vw;
        font-size: 10vw;
        margin: 0px 2vw;
        position: unset;
        right: unset;
        left: unset;
        bottom: unset;
        transform: unset;
        border-bottom: none;
        top: 50%;
        align-self: center;
    }

    .playarea .mid {
        justify-content: space-between;
    }

    .mid #tier {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main .mid, main .top, main .bot {
        height: 33.33vh;
    }

    main .minigame {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        border-left: 20px double black;
        border-right: 20px double black;
        border-bottom: none;
        width:  50vw;
    }

    main #left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 200px;
    }

    main #right {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: none;
        margin-left: 100px;
    }

    main .reward {
        font-size: 8vw;
        height: 5.5vw;
    }

    main .topcontent {
        font-size: 10vw;
        height: 7vw;
    }

    main .game1reward {
        line-height: 24vh;
    }
    
}


@media(max-height: 500px) {
    
    main #bank {
        text-align: center;
        height: 8.5vw;
        font-size: 10vw;
        margin: 0px 2vw;
        position: unset;
        left: unset;
        top: unset;
        transform: unset;
        bottom: unset;
        border-bottom: none;
        align-self: center;
    }
    
    main #rewardtotal {
        text-align: center;
        height: 8.5vw;
        font-size: 10vw;
        margin: 0px 2vw;
        position: unset;
        right: unset;
        left: unset;
        bottom: unset;
        transform: unset;
        border-bottom: none;
        top: 50%;
        align-self: center;
    }

    main .playarea .mid {
        justify-content: space-between;
    }

    .mid #tier {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main .mid, main .top, main .bot {
        height: 33.33vh;
    }

    .playarea .mid {
        justify-content: space-evenly;
    }

    main .minigame {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100vh;
        border-left: 20px double black;
        border-right: 20px double black;
        border-bottom: none;
        width:  50vw;
    }

    main #left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 200px;
    }

    main #right {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: none;
        margin-left: 100px;
    }

    main .reward {
        font-size: 8vw;
        height: 5.5vw;
    }

    main .topcontent {
        font-size: 10vw;
        height: 7vw;
    }

    main .game1reward {
        line-height: 24vh;
    }
    
}
