body {
    margin: 0px;
    background-color: rgb(75, 75, 75);
}

main {
    width: 700px;
    background-color: rgb(235, 226, 179);
    border: rgb(0, 0, 0) double 10px;
    margin: auto;
}

p {
    text-align: justify;
}

section {
    padding: 20px;
}

h1 {
    text-align: center;
}

img {
    max-width: 50%;
    border: black solid 3px;
}

.one {
    display: inline-block;
    text-align: center;
}

.M-2 {

}

.twoA {
    height: 390px;
}

.twoAA {
    height: 500px;
}

.twoB {
    height: 50px;
}

.twoCHILD {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.three {
    display: inline-block;
    width: 26%;
}

.four {
    display: inline-block;
    width: 26%;
    position: relative;
}

.four img, .four h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.four h2 {
    font-size: 20px;
}

.fourA {
    height: 90px;
}

.fourB {
    height: 90px;
}

.fourC {
    height: 124px;
}

.fourAh {
    height: 40px;
}

.fourBh {
    height: 40px;
}

.fourCh {
    height: 40px;
}

p {
    font-size: 16px;
}

