body {
   margin: 0px; 
}

.float {
    float: left;
    width: 100%;
    min-height: 312px;
}

.CLEAR {
    clear: both;
}

@media(min-width: 540px) {
    .w-med-25 {
        width: 25%;
    }
    .w-med-33 {
        width: 33.3333333%;
    }
    .w-med-50 {
        width: 50%;
    }
    .w-med-66 {
        width: 66.66666%;
    }
    .w-med-75 {
        width: 75%;
    }
    .w-med-100 {
        width: 100%;
    }
}

@media(min-width: 800px) {
    .w-lg-25 {
        width: 25%;
    }
    .w-lg-33 {
        width: 33.3333333%;
    }
    .w-lg-50 {
        width: 50%;
    }
    .w-lg-66 {
        width: 66.66666%;
    }
    .w-lg-75 {
        width: 75%;
    }
    .w-lg-100 {
        width: 100%;
    }
}
