nav ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
    margin: 0px;
}

nav ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

nav li {
    border-bottom: solid 1px rgb(128, 128, 128);
    margin: 0px 0px;
    padding: 10px 0px;
}

nav {
    background-color: rgb(69, 40, 92);
    padding: 0px;
}

nav li:first-child {
    margin-top: 0px;
} 

nav li:last-child {
    border: none;
}

@media(min-width: 540px) {
    nav ul li {
        display: inline-block;
        border-bottom: none;
        border-right: 2px solid rgb(128, 128, 128);
        padding: 5px 20px;
    }

    nav ul li:last-child {
        border-right: none;
    }

    nav {
        padding: 15px;
    }
}