@import url(layout.css);

body {
    margin: 0px;
    background-color: rgb(161, 202, 255);
}

nav ul {
    list-style: none;
    padding-left: 0px;
    text-align: center;
    margin: 0px;
}

nav ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

nav li {
    margin: 0px 0px;
    padding: 10px 0px;
}

nav {
    background-color: rgb(87, 85, 255);
    padding: 20px;
    position: relative;
    text-align: center;
}

nav li:first-child {
    margin-top: 0px;
} 

nav li:last-child {
    border: none;
}

#icon {
    width: 30px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
}

h1 {
    font-size: 50px;
    margin: 0px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

img {
    max-width: 100%;
}

.content {
    padding: 10px;
}

.float {
    height: 400px;
}

.HL {
    color: black;
}

@media(min-width: 540px) {
    nav ul li {
        display: inline-block;
        border-bottom: none;
        border-right: 2px solid black;
        padding: 5px 20px;
    }

    nav ul li:last-child {
        border-right: none;
    }

    nav {
        padding: 15px;
    }

    .mainP {
        columns: 2;
    }
}